<!DOCTYPE html>
<html>

<head>
  <title>Scientific Chicken Dinner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/openlayers@4.6.4/dist/ol.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
  <link rel="stylesheet" href="./app.css" />

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/openlayers"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="projection.js"></script>
</head>

<body>
  <div id="app">
    <div class="sidenav" id="navBox" style="display:none;">
      <section class="section">
        <h1 class="title">网页雷达</h1>
       
        <!-- <div class="field is-grouped">
          <a class="button is-small">Button</a>
          <a class="button is-small">Button2</a>
        </div> -->
        <label class="label">Map:</label>
        <input type="radio" id="erangel" value="erangel" v-model="mapType">
        <label for="erangel">旧地图</label>
        <input type="radio" id="miramar" value="miramar" v-model="mapType">
        <label for="miramar">沙漠地图</label>
        <br>
        <br>
        <label class="label">Map Options:</label>
        <input type="checkbox" id="followme" v-model="followMe">
        <label for="followme">视角跟随</label>
        <br>
        <input type="checkbox" id="showbox" v-model="showBox">
        <label for="showbox">死掉箱子</label>
        <br>
        <input type="checkbox" id="showairdrop" v-model="showAirDrop">
        <label for="showairdrop">空投</label>
        <br>
        <input type="checkbox" id="showcar" v-model="showCar">
        <label for="showcar">载具</label>
        <br>
        <br>
        <label class="label" v-on:dblclick="showNoItems">Item Options:</label>
        <input type="checkbox" id="showitemtop" v-model="showItemTop">
        <label for="showitemtop">3级头</label>
        <br>
        <input type="checkbox" id="showitemduo" v-model="showItemDuoDuo">
        <label for="showitemduo">2级头</label>
        <br>
        <input type="checkbox" id="showitembasic" v-model="showItemBasic">
        <label for="showitembasic">1级头</label>
        <br>
        <input type="checkbox" id="showitemar" v-model="showItemAR">
        <label for="showitemar">步枪配件</label>
        <input type="checkbox" id="showitemsr" v-model="showItemSR">
        <label for="showitemsr">狙击配件</label>
        <br>
        <input type="checkbox" id="showitemhealth" v-model="showItemHealth">
        <label for="showitemhealth">药品</label>
        <input type="checkbox" id="showitemthrow" v-model="showItemThrow">
        <label for="showitemthrow">投掷物品</label>
        <input type="checkbox" id="showitemammo" v-model="showItemAmmo">
        <label for="showitemammo">弹药</label>
        <br>
        <input type="checkbox" id="showitemall" v-model="showItemAll">
        <label for="showitemall">全部</label>
        <hr>
        <a class="button is-small" @click="setFPS(1)">fps1</a>
        <a class="button is-small" @click="setFPS(5)">fps5</a>
        <a class="button is-small" @click="setFPS(15)">fps15</a>
       <a class="button is-small" @click="setFPS(30)">fps30</a>
    <a class="button is-small" @click="setFPS(60)">fps60</a>
     <!-- <a class="button is-small" @click="toggleRefresh">{{ toggleButtonText }}</a>
        <br> -->
        <br>
        <br>
        <span>游戏开始: {{ gameStartTime }}</span>
        <br>
        <span>结束: {{ lastPacketTime }}</span>
        <br>
        <span>{{ coordinate }}</span>
      </section>

    </div>
    <div id="map"></div>
  </div>
<div class="menuBox" id="menuBox"></div>
  <script src="app.js"></script>
  <script src="js.js"></script>
</body>

</html>
